@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
#contacto, #inicio{
    background-image: url("../imagenes/Imagenes/fondo-contacto.png");
    background-size: cover;
}
#proyectos, #sobre-mi{
    background-image: url(../imagenes/Imagenes/fondo-proyectos.png);
    background-size:cover ;
}
.FotoCv{
    width: 100%;
    max-width: 300px;
    border-radius: 100%;

}
h1{
    color: red;
}
.btn{
    color: rgb(100, 6, 183);
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}
.btn:hover{
    color: white;
    background-color:rgb(100, 6, 183); 
}
.btn-rojo{
    color: white;
    background-color: #ff4a49;
    border: 0PX;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none; 
}
.btn-rojo:hover{
    color: white;
    background-color: rgb(100, 6, 183);
}
p{
    color: grey;
}
#contacto footer a, #inicio footer a{
    color: rgb(100, 6, 183);
}
#contacto footer, #inicio footer{
    color: white; /*Cambiar de color el Sponsor de DePcSuite para Proyectos (A rojo) para que se lea*/
    position: absolute;
    bottom: 15px;
}
#contacto main{
    min-height: 550px;
}
#contacto footer .fa-github, #inicio footer .fa-github{
    font-size: 30px;
}
#contacto footer .fa-linkedin-in, #inicio footer .fa-linkedin-in{
    color: red;
    background-color:white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0px;
}
#proyectos footer a{
    color: rgb(100, 6, 183);
}
#proyectos footer{
    color: red; /*Cambiar de color el Sponsor de DePcSuite para Proyectos (A rojo) para que se lea*/
    position: absolute;
    bottom: 15px;
}
#proyectos main, #inicio main{
    min-height: 550px;
}
#proyectos footer .fa-github{
    font-size: 30px;
    color: red;
}
#proyectos footer .fa-linkedin-ln{
    color: red;
    background-color:white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0px;
}
.btn-whatsapp{
    position: fixed;
    right: 50px;
    bottom: 0px;
    background-color: rgb(100, 6, 183);
    color: white;
}
footer .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.CV{
    background-color: red;
    padding: 7px;
    border-radius: 12px;
}
.CV a{
    color: white;
    text-decoration: none;
}
form textarea{
    height: 130px;
}
.cv:hover{
    background-color:rgb(100, 6, 183) ;
}
form input[type=text], form input[type=date], form input[type=tel], form input[type=email], form select, form text{
    border-radius: 20px;
    resize: none;
}
.nav-link{
   
    border-radius: 12px;
    padding: 8px 15px;
    transition: background-color 0.3s ease-in-out;
}
.nav-link:hover{
    background-color: rgb(100, 6, 183);
    color: white;
}
.link-rojo{
    color: #ff4a49;
}
.proyecto h2{
    font-size: 16px;
    text-transform: uppercase;
    background-color: red;
    color: white;
    padding: 15px;
    margin: 0px;
}
.proyecto img{
    height: 212px;
}
.proyecto p{
    font-size: 14px;
}

@media(max-width: 750px) { /*Medidas para mobile*/
#contacto, #inicio{
    background-image: url("../imagenes/Imagenes/fondo-proyectos.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#proyectos{
    background-image: url(../imagenes/Imagenes/fondo-proyectos.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#inicio p{
    color: red;
    font-size: 15px;
    border: 1px red solid;

}
}
#inicio img{
    height: 400px;
}
#inicio img:hover{
    height: 410px;
}
.cohete{
    height: 410px;
}
#inicio p{
   color: white; 
   font-size: 17px;
   border: 1px white solid;
   border-radius: 15px;
   font-weight: 600;

}
#stack-tecnologico{
  background: #f73434;
background: linear-gradient(90deg, rgba(247, 52, 52, 1) 0%, rgba(168, 7, 7, 1) 47%, rgba(64, 0, 0, 1) 100%);
    padding-top: 45px;
    padding-bottom: 45px;
    
}
#stack-tecnologico .tecnologia{
    background-color: white; /*El profe lo pone en blanco*/
    border-radius: 15px;
    text-align: center;
}
#stack-tecnologico .tecnologia img{
    height: 90px;
}
#stack-tecnologico h2{
    font-size: 24px;
    color: white;
}
/*#stack-tecnologico h3{
    font-size: 14px;
    color: black;
    font-weight: 300;
}*/

#stack-tecnologico .i{
    font-size: 40px;
    color: white;
}
#experiencia h2{
    font-size: 24px;
    color:  rgb(100, 6, 183);
    font-weight: 400;
}
#experiencia h3{
    color: grey;
    font-size: 18px;
    font-weight: 600;
}
#experiencia h4{
    font-size: 27px;
    color: grey;
    font-weight: 400;
}
#experiencia h5{
    font-size: 14px;
    color:  grey
}
.baw {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.baw:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(0%);
}
#formacion h2{
     font-size: 24px;
    color:  rgb(100, 6, 183);
    font-weight: 400;
}
#formacion h3{
    color: grey;
    font-size: 18px;
    font-weight: 600;
}
#formacion h4{
     font-size: 27px;
    color: grey;
    font-weight: 400;
}
#formacion h5{
      font-size: 14px;
    color:  grey
}
#cursos h2{
    font-size: 24px;
    color:  rgb(100, 6, 183);
    font-weight: 400;
}
#cursos h3{
     color: grey;
    font-size: 18px;
    font-weight: 600;
}
#cursos h4{
     font-size: 27px;
    color: grey;
    font-weight: 400;
}
#cursos h5{
     font-size: 14px;
    color:  grey
}